html, body{
  height:100%;
}
nav{
	height:50px;
	border-bottom:1px #999;
}
#main .row{
	height:100%;
}
#main{
	position: absolute;
	top:0;
	left:0;
	padding: 50px 0;
	overflow: hidden;
	height:100%;
	width:100%;
}
.pane{
	border-right:1px solid #999;
	height:100%;
}

#entry{
	height:50px;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	background: #555;
	margin:0;
	padding:5px;
}
#megaphone{
	height:40px;
}

#messages{
	background: #ddd;
	overflow-y:auto;
	position: absolute;
	top:70px;
	bottom:0;
	left:0;
	right:15px;
	border:0;
	border-radius: 0;
}
.message{
	padding:3px;
	float:left;
	clear:both;
	width:100%;
}
.message .content{
	float: left;
}
.message .controls{
	float:right;
}
.message .controls i{
	cursor:pointer;
}
.message .controls i.active{
	color:#f00;
}