@charset "utf-8";

@import "bootstrap/bootstrap.scss";

$lightLines: #f0f0f0;
$messageBG: #e8e8e8;
$myMessageBG: #e8e8ff;
$brand: $brand-primary;
$brand-disabled: darken(desaturate(adjust-hue($brand, 0.2), 50), 4);
$background: #fcfcfc;
$text: #0F0F13;
$warningBG:#fcf8e3;

html, body{
  height:100%;
  font-size:12px;
  background: $background;
  color: $text;
  font-family: 'Open Sans', sans-serif;
}
a{
  color:$brand;
  &:hover, &:focus, &:active{
    color:lighten($brand,10%);
  }
}
.btn-primary{
  background: $brand;
  &:hover, &:active, &:focus{
    background: lighten($brand,10%);
  }
}
header.navbar{
  border-bottom:1px solid $lightLines;
}
#nav{
  background: $brand;
  font-size:14px;
  border-bottom:1px darken($lightLines,50%);
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  padding:0;
  .nav{
    & .nav-link{
      color:$background;
      padding:1rem;
      margin:0;
      &.active, &:hover,
      & .open>a, & .open>a:hover, & .open>a:focus{
        background: lighten($brand,10%);
      }
      &:focus{
        background: $brand;
      }
    }
    .icon-link{
      padding-bottom: 8px;
      line-height: 25px;
    }
    .fa{
      font-size: 20px;
      margin: 3px 0;
      line-height: 10px;
    }
  }

  .navbar-right{
    margin-right:0;
  }
  .dropdown-menu{
    padding:15px;
    form{
      margin-bottom:10px;
    }
  }
  .online-marker{
    display: inline;
    float: left;
    margin: 6px;
  }
}
#user-menu li {
  margin: 25px 0;
  &:first-child{
    margin-top:0;
  }
  &:last-child{
    margin-bottom:0;
  }
}
.status-chooser{
  width:100%;
  .btn{
    width:33%;
    &.inactive{
      background-color: $background;
      color:$text;
    }
  }
}
.container.primary{
  padding-top:20px;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.fa.active{
  color: $brand;
  text-shadow: 0 0 5px rgba(0, 131, 243, 0.52);
}
.fa-flip-y {
  transform: scaleY(-1);
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
}
.fa-flip-x {
  transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
}
.spinner {
  display: none;
  background: url('../img/loading.svg');
  background-size:50px 50px;
  width:50px;
  height: 50px;
  display: block;
  margin:0 auto;
}
.form-group{
  clear: both;
}
.control-label{
  font-weight: bold;
  margin-top: 15px;
}
.radio {
  label {
    display: block;
    float: left;
    border: 1px solid $brand;
    border-left:0;
    height: 40px;
    width: 33%;
    line-height: 40px;
    text-align: center;
    padding:0;
    margin-bottom:20px;
  }

  .radio-2 + label{
    width:50%;
  }

  .radio-4 + label{
    width:25%;
  }

  &:nth-of-type(1) label{
    border-left: 1px solid $brand;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &:last-of-type label{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  input{
    display: none;

    &:checked + label{
      background: $brand;
      color: $background;
    }

    &.disabled + label{
      background: #eee;
    }

    &.disabled:checked + label{
    }
  }
}
#main{
  position: absolute;
  top:-5px;
  bottom:0;
  left:0;
  right:0;
  padding: 50px 0 42px;
  overflow: hidden;

  &>.container-fluid,
  &>.container
  {
    padding-top:20px;
  }

  .row{
    height:100%;
  }
}
.pane{
  border-right:1px solid $lightLines;
  height:100%;
}
#slow{
  padding:0 10px 0 25px;
}
.volume-controls{
  font-size:110%;
  .volume{
    margin-right:5px;
    cursor:pointer;
    &.active{
      cursor: default;
    }
  }
}
#name{
  margin-top:10px;
  border:1px solid $messageBG;
  padding:10px 15px;
  font-size:20px;
  margin-bottom:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: bolder;
}
#description{
  padding:3px 15px;
  margin-top:0;
  font-size:12px;
  background: $messageBG;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.user-list{

  .user{
    position: relative;
    margin-bottom:5px;
    a{
      color:$text;
    }
  }

  img{
    width: 16px;
    height: 16px;
    border-radius:0.25rem;
    float:left;
    margin-right:5px;
    clear:both;
  }
  .online-marker{
    position: absolute;
    top:12px;
    left:12px;
    z-index: 3;
  }
}
.online-marker{
  width:8px;
  height:8px;
  background-image:url('../img/indicator-offline.png');
  background-size:100% 100%;
  &.status-0{
    background-image:url('../img/indicator-online.png');
  }
  &.status-1{
    background-image:url('../img/indicator-away.png');
  }
  &.status-2{
    background-image:url('../img/indicator-busy.png');
  }
}
#autocomplete{
  position: absolute;
  top: -25px;
  left: 42px;
  .ac{
    background: #555;
    border: 1px solid #333;
    color:$background;
    float: left;
    margin-right: 5px;
    padding: 2px 5px;
    border-radius:0.25rem;
    &.active{
      background: #fff;
      color:#333;
    }
  }
}
#entry{
  height:35px;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  background: #555;
  margin:0;
  padding:5px;
  display: table;

  .error{
    position: absolute;
    top: -30px;
    left: 42px;
    background: $brand-danger;
    color:$background;
    padding: 5px 10px;
    border-radius:0.25rem;
    display: none;
  }

  .row-container{
    display: table-row;
    .img-container{
      display: table-cell;
      vertical-align: top;
      width:32px;
    }
    .shout-container{
      display: table-cell;
      vertical-align: top;
      padding-left:5px;
    }
  }

  img{
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    border-radius:0.25rem;
  }
  .right{
    width:auto;
    height:40px;
    background:red;
  }
}
#shout{
  height:32px;
  margin:0;
  width: 100%;
  &.editing{
    background: #ddd;
    font-style: italic;
  }
}

#messages{
  overflow-y:auto;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:15px;
  border:0;
  padding-top:5px;
  border-radius:0.25rem;
}
.message-group{
  background: $messageBG;
  border-radius:0.25rem;
  margin:5px;
  overflow: hidden;
  padding-bottom:2px;
  .author{
    font-weight:bold;
    padding:2px 0 3px 4px;
    background: darken($messageBG, 5);
    &:after{
      content:":";
    }
    .profile-picture{
      width: 16px;
      height: 16px;
      margin-right: 5px;
      border-radius:0.25rem;
    }
  }
  &.mine{
    background: $myMessageBG;
    .author{
      background: darken($myMessageBG, 5);
    }
  }
}
.message{
  border:1px solid transparent;
  padding:1px 5px 1px 15px;
  float:left;
  clear:both;
  width:100%;
  position: relative;
  background: inherit;
  &.highlight,
  &.editing{
    background: rgba(0,0,0,0.1);
  }
  &.editing{
    font-style: italic;
  }
  &.edited:before{
    font-family: 'Glyphicons Halflings';
    content:"\270f";
    position: absolute;
    top: 4px;
    left: 3px;
    font-size: 8px;
  }
  &.deleted .content{
    opacity: 0.5;
    font-style: italic;
  }
  &.pinned{
    border-right:3px solid $brand;
    .pin{
      display: none;
    }
  }
  &.flagged{
    border-right:3px solid $brand-danger;
  }
  code, pre{
    font-size: inherit;
    margin:0;
    color: $brand;
  }
  blockquote{
    margin:0;
    font-size:inherit;
    border-left:1px dotted $brand;
    padding:2px 5px;
  }
  .show-post{
    display: block;
  }
  .hidden{
    display: none;
  }
  .link{
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
  }
  .controls{
    cursor:pointer;
    position: absolute;
    top:2px;
    right:2px;
    background: inherit;
    padding:0 5px;
    opacity: 0;
    i{
      font-size:90%;
      font-color:#333;
      cursor:pointer;
      margin-left:5px;
    }
  }
}
.ob{
  background:$background;
  width:100%;
  padding:10px;
  border-radius:0.25rem;

  img{
    max-width: 100%;
    max-height: 200px;
  }
}
#medium{
  font-size:11px;
  padding:5px 0;
  height: 100%;
  overflow-y:auto;
  .message-group{
    position: relative;
  }
  .author{

  }
  .votes{
    position: absolute;
    left:10px;
    top:20px;
    div{
      position: absolute;
      top:0;
    }
    .score{
      top:5px;
      left:0;
    }
    .upvote{
      left:10px;
    }
    .dnvote{
      top:10px;
      left:10px;
    }
    .vote{
      cursor: pointer;
      &.disabled{
        cursor: default;
        opacity: 0.5;
      }
      .fa{
        font-size:16px;
      }
    }
    &.voted{
      .vote{
        cursor: default;
        i{
          display: none;
          &.active{
            display: inline-block;
          }
        }
      }
    }
  }
  .message{
    border-radius:0.25rem;
    margin-bottom:5px;
    padding:1px 5px 5px 35px;
    .controls{
      top:-15px;
      right:5px;
      opacity:1;
      i{
        display: none;
        &.reply{
          float:right;
          display: block;
        }
      }
    }
    &.pinned{
      border:none;
    }
    .ob img{
      max-height: 150px;
    }
  }
}
#fast{
  .message{
    &:hover{
      border:1px dotted #ccc;
      &:before{
        opacity: 0;
      }
      .controls,
      .link {
        opacity: 1;
      }
    }
  }
}

/* LANDING */

.jumbo-form{
  .email{
    margin:20px 10px 20px 0;
  }
}

.logo-main{
  float: left;
  max-width: 200px;
  max-height: 200px;
  margin: 15px 30px 20px 0;
}

.jumbotron-inverse{
  background:#fff;

  .img-circle{
    border:5px solid #ddd;
    max-width:70%;
    margin:20px auto;
  }
}

/*   USER PROFILE   */

.user-profile{
  .profile-picture{
    margin-bottom: 20px;
    width: 100%;
  }
}

/*   ROOMS   */

#rooms{
  .room{
    height:150px;
    overflow:hidden;

    h2{
      margin:0;
      font-size:16px;

      i{
        background:$brand;
        border-radius:0.25rem;
        color:$background;
        font-size: 10px;
        padding: 5px;
        text-align: center;
        display: block;
        float: left;
        margin-right: 5px;
      }
    }
    p{
      margin-top:10px;
    }

    &.add{
      background:$brand;
      position:relative;
      &:hover{
        background:lighten($brand, 10%);
      }
      a{
        font-size:50px;
        color:$background;
        text-align: center;
        display: block;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        line-height: 150px;
      }
    }
  }
}

/*   ORG MANAGEMENT   */

#org-selection .btn{
  margin:4px 0 0 5px;
}

#search-input{
  margin:10px 0 -2px;
}

#org-list{
  .list-group-item:nth-of-type(1){
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: 0;
    background-color: transparent;
    &:hover{
      background-color: darken($background, 3.9216);
    }
  }
}

/*   AUTOCOMPLETE   */
.ajax-complete{
  position:relative;
  margin-bottom:15px;

  .ajax-results{
    height: 15px;
    width: 100%;
    overflow: visible;
    position: absolute;
    z-index: 2;

    .result{
      background: $background;
      border: 1px solid $lightLines;
      padding: 5px 12px;
      border-top: none;
      width: 100%;

      &.selected{
        background:darken($background, 3.9216);;
      }
    }
  }
}

.results_on_deck{
  .active-selection{
    padding:10px;

    /* clearfix */
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }

    border-bottom:1px solid $lightLines;
    .fa{
      float: right;
      color: $brand-danger;
      cursor: pointer;
      font-size: 16px;
    }
    .user{
      float:left;
    }
  }
}

#org-actions{
  margin-bottom: 20px;

  .btn{
    display: none;
  }
}
@media (max-width: 768px){
  .action-button{
    font-size: 0;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius:0.25rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);

    i{
      font-size: 25px;
      text-align: center;
      line-height: 45px;
      padding-left: 2px;
    }
  }
}
@media (min-width: 768px){
  .dropdown-menu{
    min-width: 300px;
  }
}
