{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% load bootstrap %}

{% block main_content %}
<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="margin-top: 2em;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Please register</h3>
			</div>
			<div class="panel-body">
				<form class="form" action="{% url 'register' %}" method="post">
					{% csrf_token %}
					{{ form|bootstrap }}
					{% if invite %}
						<input type="hidden" name="organisation" value="{{ invite.organisation.id }}">
						<input class="btn btn-lg btn-success" type="submit" value="Join {{ invite.organisation.name }}">
					{% else %}
						<input class="btn btn-lg btn-success" type="submit" value="Register">
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
