{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Lanes{% endblock %}

{% block main_content %}
<div class="jumbotron">
  <div class="container">
    <h1>Lanes</h1>
    <p>Information that moves at the speed you do.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get an invitation »</a></p>
  </div>
</div>
<div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Information moves quickly</h2>
          <p>Lanes Chat allows people to communicate quickly and effectively. Markdown and emoji supported, and you can customise your chat with as many bots and plugins as you want. </p>
        </div>
        <div class="col-md-4">
          <h2>Information sticks around</h2>
          <p>Pin messages and they'll stay around. Vote on pinned messages so that what's important stays on top.</p>
       </div>
        <div class="col-md-4">
          <h2>Information stays put</h2>
          <p>Every community has a wiki so that important information can always be found.</p>
        </div>
      </div>

      <hr>

      <footer>
        <p>© 2016 Tom Medley</p>
      </footer>
    </div>
{% endblock main_content %}
