{% extends "base.html" %}

{% load bootstrap %}

{% block title %}{{ org.name }}{% endblock %}

{% block org_admin_active %}active{% endblock %}

{% block main_content %}
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="{% url 'manage_org' org.slug %}" method="post">
        {% csrf_token %}
        <legend>Manage {{ org.name }}</legend>
        {{ form|bootstrap }}
        <button class="btn btn-success" type="submit">Apply Changes</button>
      </form>

      {% if org.privacy == org.PRIVACY_APPLY %}
      <hr>

      <div style="display:none;" id="user-list">
        <legend>Users awaiting approval</legend>
        <div class="list-group">
        {% for a in applications %}
          <div class="list-group-item">
            {{ a.user.username }}
            <div class="btn-group pull-right application">
              <button class="btn approval btn-xs btn-danger" data-action="deny" data-id="{{ a.user.id }}">Deny</button>
              <button class="btn approval btn-xs btn-success" data-action="approve" data-id="{{ a.user.id }}">Approve</button>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      <div style="display:none;" id="no-users" class="alert alert-info">There are no users awaiting approval</div>
      {% endif %}

      <hr>

      <legend>Invite someone to join {{ org.name }}</legend>
      <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email" id="id_email">
      </div>
      <button type="button" class="btn btn-success" id="send-invite">Send Invite</button>
      <div class="form-group">
        <p id="message" class="helptext text-success" style="display:none;">An invitation has been sent</p>
      </div>

      <hr>

      <legend>Bots for {{ org.name }}</legend>
      <div class="list-group">
      {% for bot in bots %}
        <div class="list-group-item">
          <a href="{% url 'bot' org.slug bot.username %}">{{ bot.username }} - {{ bot.bot.get_scope_display }}</a>
          <div class="btn-group pull-right application">
            <form action="{% url 'bot_delete' org.slug bot.username %}" method="post">
              {% csrf_token %}
              <button class="btn btn-xs btn-danger">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
      </div>
      <a href="{% url 'bot_create' org.slug %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add a new bot</a>
    </div>
  </div>
</div>
{% endblock main_content %}

{% block script_panel %}
<script type="text/javascript" src="/static/ajax_select/js/ajax_select.js"></script>
<script type="text/javascript">
  $(document).ready(function(){

    {% if applications.count > 0 %}
      $("#user-list").show();
    {% else %}
      $("#no-users").show();
    {% endif %}

    $('.approval').on('click',function(){
      var self = $(this);
      self.parent().find('.btn').attr('disabled', 'disabled');
      $.ajax({
        url:"/c/{{ org.slug }}/manage/approval/",
        method:"post",
        data:{
          action:self.attr('data-action'),
          id:self.attr('data-id')
        },
        success: function(){
          self.parent().parent().slideUp('fast');
          if($(".application:visible").length == 0){
            $("#user-list").hide();
            $("#no-users").show();
          }
        }
      });
    });

    function send(){
      $('#send-invite').addClass('disabled');
      $('#send-invite').prop('disabled', true);
      $.ajax({
        method: "post",
        url: "{% url 'org_invite' org.slug %}",
        dataType: "json",
        data: {
          email: $('#id_email').val(),
          organisation: {{ org.id }}
        },
        success: function(){
          $('#id_email').val('');
          $('#message')
            .text('An invitation has been sent!')
            .addClass('text-success')
            .removeClass('text-danger')
            .fadeIn('fast');
        },
        error: function(response){
          var data = JSON.parse(response.responseText);
          var message = "Something went wrong :-("
          if (data.email){
            message = data.email;
          }
          $('#message')
            .text(message)
            .removeClass('text-success')
            .addClass('text-danger')
            .fadeIn('fast');
        },
        complete: function(){
          setTimeout(function(){
            $('#message').fadeOut('slow');
          },2000);
          $('#send-invite').removeClass('disabled');
          $('#send-invite').prop('disabled', false);
        }
      });
    }

    $("#id_email").keydown(function(ev) {
      if (ev.keyCode === 13 && !ev.shiftKey) {
        send();
      }
    });

    $('#send-invite').on('click',function(){
      send();
    });
  });
</script>
{% endblock %}
