{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Communities{% endblock %}

{% block orgs_active %}active{% endblock %}

{% block main_content %}
<div class="container">
  <ul class="nav nav-tabs" id="org-selection">
    <li role="presentation"><a data-url="mine" href="#mine">Mine</a></li>
    <li role="presentation"><a data-url="watched" href="#followed">Followed</a></li>
    <li role="presentation"><a data-url="all" href="#all">All</a></li>
    <li role="presentation"><a href="#search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
  </ul>
  <div id="search" style="display:none;">
    <input class="form-control" id="search-input" placeholder="Search for Communities">
  </div>
  <div class="spinner"></div>
  <div class="list-group" id="org-list"></div>
  <a href="{% url 'create_org' %}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create new community</a>
</div>
{% endblock main_content %}

{% block script_panel %}
<script type="text/javascript">
$(document).ready(function(){

  var hash = window.location.hash.substring(1);
  var spin = 0;
  if(hash !== "" && ["mine","all","watched"].indexOf(hash) >= 0){
    setTab(hash);
  }else{
    setTab('mine');
  }

  function setTab(url){
    if(url == "search"){
      url = "mine";
    }
    $('#org-selection a[data-url="' + url + '"]').tab('show');
    updateContent(url);
  }

  $('#org-selection a').click(function (e) {
    e.preventDefault();
    if($(this).parent().hasClass('active')){
      return;
    }
    $(this).tab('show');
    if($(this).attr('data-url')) {
      endSearch();
      updateContent($(this).attr('data-url'))
    } else {
      startSearch();
    }
  });

  function handleData(data){
    console.log(data);
    $('#org-list').html('');
    if (data.orgs.length === 0) {
      $('#org-list').append('<div class="list-group-item">No communities found :(</div>');
    }
    data.orgs.forEach(function(o){
      $('#org-list').append(
        '<a href="/org/' + o.slug + '" class="list-group-item">' + o.name + '</a>'
      );
    });
    clearTimeout(spin);
    $('.spinner').hide();
  }

  function updateContent(filter){
    window.location.hash = '#' + filter;
    $('#org-list').html('');
    clearTimeout(spin);
    spin = setTimeout(function(){$('.spinner').show();},1000);
    $.ajax({
      method: "get",
      url: "/ajax/orgs/" + filter + "/",
      success: handleData
    })
  }

  function startSearch(){
    $("#search").show();
    $('#org-list').html('');
    $("#search-input").focus();
  }

  function endSearch(){
    $('#search').hide();
  }

  $("#search-input").on('keyup',function(){
    var text = $(this).val();
    if(text !== ""){
      $.ajax({
        method:"get",
        url:"/ajax/orgs/search/?s=" + encodeURIComponent(text),
        success: handleData
      });
    }
  });
});
</script>
{% endblock %}
