{% extends "base.html" %}

{% load safe_js %}
{% load gravatar %}

{% block title %}{{ room.name }}{% endblock %}

{% block container_id %}main{% endblock %}
{% block container_class %}container-fluid{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-sm-3 pane" id="slow">
    <h1 id="name">{{ room.name }}</h1>
    <div class="room-info clearfix">
	    <p id="description">{{ room.topic }}</p>
	    <p class="pull-xs-right">
	      <span class="volume-controls">
	        <i class="volume fa fa-volume-off  {% if prefs.volume == prefs.QUIET %}active{% endif %}"
	           data-volume="{{ prefs.QUIET }}"></i>
	        <i class="volume fa fa-volume-down {% if prefs.volume == prefs.NORMAL %}active{% endif %}"
	           data-volume="{{ prefs.NORMAL }}"></i>
	        <i class="volume fa fa-volume-up   {% if prefs.volume == prefs.LOUD %}active{% endif %}"
	           data-volume="{{ prefs.LOUD }}"></i>
	      </span>
	      {% if is_admin or is_owner %}
		      <a href="{% url 'room_edit' room.id %}"><i class="fa fa-pencil"></i> Edit this room</a>
	      {% endif %}
	    </p>
		</div>
    {% if is_admin or is_owner or room.privacy == room.PRIVACY_PUBLIC %}
    <div class="ajax-complete">
			<input class="form-control" id="add-member" type="text" placeholder="Add user">
			<div class="ajax-results" id="user-results"></div>
		</div>
		{% endif %}
    <div class="user-list" id="users">
    {% for u in users %}
    	<div class="user user-{{ u.id }}{% if u.id == user.id %} me{% endif %}">
    		<img src="{% gravatar_url u.email 32 %}" alt="" class="profile-picture">
    		<a href="{% url 'user_profile' u.id %}">{{ u.username }}</a>
    		<div class="online-marker status-{{ u.status }}"></div>
    	</div>
    {% endfor %}
    </div>
  </div>
  <div class="col-sm-3 pane" id="medium">
  </div>
  <div class="col-sm-6 pane" id="fast">
    <div id="messages"></div>
  </div>
</div>
{% endblock main_content %}

{% block footer %}
  <div id="entry">
  	<div class="row-container">
	  	<div class="img-container">
		  	<img src="{% gravatar_url user.email 64 %}" alt="" class="profile-picture">
	  	</div>
      <div id="autocomplete"></div>
	  	<div class="shout-container">
		    <textarea class="form-control" id="shout"
		    {% if not user.is_authenticated %}
		      disabled="disabled"
		    {% endif %}></textarea>
	    </div>
    </div>
  </div>
{% endblock %}

{% block script_panel %}
<script type="text/javascript">

var org = '{{ org.slug }}';
var room_id = {{ room.id }};
var my_id = {{ user.id }};
var my_name = '{{ user.username }}';
var volume = {{ prefs.volume }};
var can_participate = {{ can_participate|yesno:"true,false" }};
var is_admin = {{ is_admin|yesno:"true,false" }};

var shout = $('#shout');
var sock_uri = '{{ WEBSOCKET_URI }}room_{{ room.id }}?subscribe-broadcast';
var hb = {{ WS4REDIS_HEARTBEAT }};

var post_history = [
  {% for post in room.history %}
    {
      author: {
          name: '{{ post.author.username }}',
          id: {{ post.author.id }},
          img: "{% gravatar_url post.author.email 32 %}"
      },
      content: '{{ post.content|multiline|safe }}',
      raw: '{{ post.raw|multiline }}',
      edited: {{ post.edited|yesno:"true,false" }},
      deleted: {{ post.deleted|yesno:"true,false" }},
      id: {{ post.id }}
    },
  {% endfor %}
];

var pinned = [
  {% for pin in pinned %}
    {
      author: {
          name: '{{ pin.post.author.username }}',
          id: {{ pin.post.author.id }}
      },
      content: '{{ pin.post.content|multiline|safe }}',
      raw: '{{ pin.post.raw|multiline }}',
      score: {{ pin.post.score }},
      vote: {{ pin.vote }},
      id: {{ pin.post.id }}
    },
  {% endfor %}
];

</script>
<script src="/static/js/room.js" type="text/javascript"></script>
{% endblock %}
