{% extends "base.html" %}

{% load safe_js %}

{% block title %}{{ room.name }}{% endblock %}


{% block main_content %}
<div class="row">
  <div class="col-sm-3 pane" id="slow">
  <h1 id="name">{{ room.name }}</h1>
  <p id="description">{{ room.topic }}</p>
  </div>
  <div class="col-sm-3 pane" id="medium">
  </div>
  <div class="col-sm-6 pane" id="fast">
    <div id="messages"></div>
  </div>
</div>
{% endblock main_content %}



{% block footer %}
  <div id="entry">
    <div "form-inline">
      <div class="form-group">
        <textarea class="form-control" id="shout"
        {% if not user.is_authenticated %}
          disabled="disabled"
        {% endif %}></textarea>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_panel %}
<script src="/static/js/ws4redis.js" type="text/javascript"></script>
<script type="text/javascript">

  scrolldown = function(){
    $('#messages').scrollTop($('#messages').scrollTop() + 9999);
  }

  jQuery(document).ready(function($) {

  	var reply_regex = /^:[0-9]+$/;
  	var my_id = {{ user.id }};

    var sock = WS4Redis({
      uri: '{{ WEBSOCKET_URI }}room_{{ room.id }}?subscribe-broadcast',
      receive_message: receiveMessage,
      heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
    });

    var post_history = [
      {% for post in room.history %}
        {
          author: {
              name: '{{ post.author.username }}',
              id: {{ post.author.id }}
          },
          content: '{{ post.content|multiline|safe }}',
          id: {{ post.id }}
        },
      {% endfor %}
    ];

    var pinned = [
      {% for post in room.pinned %}
        {
          author: {
              name: '{{ post.author.username }}',
              id: {{ post.author.id }}
          },
          content: '{{ post.content|multiline|safe }}',
          id: {{ post.id }}
        },
      {% endfor %}
    ];

    post_history.forEach(appendFastMessage);
    pinned.forEach(function(el){
      insertMediumMessage(createMessage(el), el.author);
    });

    $("#shout").keydown(function(ev) {
      if (ev.keyCode === 13 && !ev.shiftKey) {
        ev.preventDefault();
        var message = $('#shout').val();
        if (message.trim() !== ""){
          $.ajax({
            method: "post",
            url: "{% url 'room_post' room.id %}",
            data: {
              message: message
            }
          });
          $('#shout').val("");
        }
      }
    });

    function createMessage(msg) {
    	var content = msg.content;
    	var reply_to = 0;
    	// Is this a reply?
    	if(reply_regex.test(content.split(' ')[0])) {
    		reply_to = content.split(' ')[0].split(":")[1];
    		var to = $('.msg-' + reply_to).attr('data-author');
    		//TODO if not found, get
    		content = '<i class="glyphicon glyphicon-share-alt glyphicon-flip-x"></i> @' + 
    							to + ' ' + content.split(' ').splice(1).join(' ');
    	}
      var message = $('<div class="message"></div>')
        .append($('<div class="content"></div>').html(content));
      var controls = $('<div class="controls"></div>')
      var pin = $('<i class="glyphicon glyphicon-pushpin pin"></i>');
      var reply = $('<i class="glyphicon glyphicon-share-alt glyphicon-flip-y reply"></i>');
      var id = msg.id;
      pin.on('click', function(){
        $.ajax({
          method: "post",
          url: "{% url 'room_pin' room.id %}",
          data: {
            id: id,
            pin: true
          }
        });
      });
      reply.on('click', function(){
      	var first = $('#shout').val().split(' ')[0];
      	var val;
      	if (reply_regex.test(first)) {
      		val = $('#shout').val().split(' ').splice(1).join(' ');
      	} else {
      		val = $('#shout').val();
      	}
      	$('#shout').val(":" + id + " " + val);
      	$('#shout').focus();
      });
      controls.append(pin);
      controls.append(reply);
      message.append(controls);
      message.addClass("msg-" + id);
      message.attr("data-id", id);
      message.attr("data-author", msg.author.name);
      message.attr("data-targets","");
      if(reply_to > 0){
	      message.attr("data-targets",reply_to);
	      var target = $('.msg-' + reply_to);
   			target.attr("data-targets", target.attr("data-targets") + "," + id);
      }
      message.hover(function(){
      	$(this).attr("data-targets").split(",").forEach(function(target){
      		console.log("target: " + target);
      		$('.msg-' + target).addClass('highlight');
      	});
      }, function(){
      	$(this).attr("data-targets").split(",").forEach(function(target){
	      	$('.msg-' + target).removeClass('highlight');
	      });
      });
      return message;
    }

    function insertFastMessage (message, author) {
      // Is the last post by the same author? If so, concat
      var last = $('#messages .message-group').last();
      if (last.attr('data-id') == author.id){
        last.append(message);
      } else {
      	var group = $('<div class="message-group clearfix"></div>')
          .append($('<div class="author"></div>').text(author.name))
          .attr('data-id', author.id)
          .append(message);
         if(author.id == my_id) {
         	group.addClass("mine");
         }
        $('#messages').append(group);
      }
      scrolldown();
    }

    function appendFastMessage (msg) {
      if($('#messages .msg-'+msg.id).length === 0){
        insertFastMessage(createMessage(msg), msg.author);
      }
    }

    function insertMediumMessage (message, author) {
      $('#medium').prepend($('<div class="message-group clearfix"></div>')
          .append($('<div class="author"></div>').text(author.name))
          .attr('data-id', author.id)
          .append(message));
      $('.msg-' + message.attr('data-id')).addClass('pinned');
    }

    function receiveMessage(msg) {
      console.log(msg);
      var msg = JSON.parse(msg);
      if (msg.type == "msg"){
        appendFastMessage(msg);
      } else if (msg.type == "pin") {
        if (msg.action == "pin") {
          var message = $("#messages .msg-" + msg.content);
          if ($('#medium').find('.msg-' + msg.content).length === 0) {
            insertMediumMessage(message.clone(true),{
            	name: message.parent().find(".author").text(),
            	id: message.parent().attr("data-id")
            });
          }
        } else if (msg.action == "unpin") {
          var message = $("#medium .msg-" + msg.content);
          message.remove();
          $('.msg-' + msg.content).removeClass('pinned');
        }
      }
    }
  });
  </script>
{% endblock %}
