{% extends "base.html" %}

{% load safe_js %}
{% load gravatar %}

{% block title %}{{ room.name }}{% endblock %}

{% block main_content %}
<div class="row">
  <div class="col-sm-3 pane" id="slow">
    <h1 id="name">{{ room.name }}</h1>
    <div class="room-info clearfix">
	    <p id="description">{{ room.topic }}</p>
	    <p class="pull-right">
	      <span class="volume-controls">
	        <i class="volume glyphicon glyphicon-volume-off  {% if prefs.volume == prefs.QUIET %}active{% endif %}"
	           data-volume="{{ prefs.QUIET }}"></i>
	        <i class="volume glyphicon glyphicon-volume-down {% if prefs.volume == prefs.NORMAL %}active{% endif %}"
	           data-volume="{{ prefs.NORMAL }}"></i>
	        <i class="volume glyphicon glyphicon-volume-up   {% if prefs.volume == prefs.LOUD %}active{% endif %}"
	           data-volume="{{ prefs.LOUD }}"></i>
	      </span>
	      <a href="{% url 'room_edit' room.id %}"><i class="glyphicon glyphicon-pencil"></i> Edit this room</a>
	    </p>
		</div>
    <div class="user-list" id="users">
    {% for u in users %}
    	<div class="user user-{{ u.id }}">
    		<span class="online-marker {{ u.online|yesno:"online," }}">&bull;</span>
    		{{ u.username }}
    	</div>
    {% endfor %}
    </div>
  </div>
  <div class="col-sm-3 pane" id="medium">
  </div>
  <div class="col-sm-6 pane" id="fast">
    <div id="messages"></div>
  </div>
</div>
{% endblock main_content %}

{% block footer %}
  <div id="entry">
    <div "form-inline">
      <div class="form-group">
        <textarea class="form-control" id="shout"
        {% if not user.is_authenticated %}
          disabled="disabled"
        {% endif %}></textarea>
      </div>
    </div>
  </div>
{% endblock %}

{% block script_panel %}
<script src="/static/js/ws4redis.js" type="text/javascript"></script>
<script src="/static/js/room.js" type="text/javascript"></script>
<script type="text/javascript">

var my_id = {{ user.id }};
var my_name = '{{ user.username }}';
var volume = {{ prefs.volume }};
var is_admin = {{ user.is_admin|yesno:"true,false" }};

var shout = $('#shout');
var sock_uri = '{{ WEBSOCKET_URI }}room_{{ room.id }}?subscribe-broadcast';
var hb = {{ WS4REDIS_HEARTBEAT }};
var urls = {
	edit: "{% url 'post_edit' %}",
	pin: "{% url 'room_pin' room.id %}",
	post: "{% url 'room_post' room.id %}",
	prefs: "{% url 'room_prefs' room.id %}",
};

var post_history = [
  {% for post in room.history %}
    {
      author: {
          name: '{{ post.author.username }}',
          id: {{ post.author.id }},
          img: "{% gravatar_url post.author.email 32 %}"
      },
      content: '{{ post.content|multiline|safe }}',
      raw: '{{ post.raw|multiline }}',
      edited: {{ post.edited|yesno:"true,false" }},
      id: {{ post.id }}
    },
  {% endfor %}
];

var pinned = [
  {% for post in room.pinned %}
    {
      author: {
          name: '{{ post.author.username }}',
          id: {{ post.author.id }}
      },
      content: '{{ post.content|multiline|safe }}',
      raw: '{{ post.raw|multiline }}',
      id: {{ post.id }}
    },
  {% endfor %}
];

</script>
{% endblock %}
